# project local secrets
secrets.py
*.pem
rules/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# distribution / packaging / cache
.Python
build/
dist/
cache/
*.wav
