# project local secrets
secrets.py
*.pem

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# distribution / packaging / cache
.Python
build/
dist/
cache/
*.wav

# tts removed
bot/modules/tts/
/bak
*.lnk

# no local trio caches
bot/rules/trio_*.json
